# no file IDE files
.vscode
.idea/
*code-workspace

# no python cache files
*.pyc
__pycache__/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
sdist/
*egg*

# Unit test / coverage reports
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/


# Environments
venv/

